.first{
    border: 10px solid black;
    background-color: lightpink;
    margin: 20px;
    height: 210px;
    padding: 5px;
    width: 400px;
    box-shadow: 20px 20px 5px gray;
}

.header{
    height:300px;
    background-color: aquamarine;
    background-image: url('../imgs/favicon.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}